/* ===== MAIN SIDEBAR AREA - HEADER ==================================== */

// sidebar container
.sidebar {
	background: white;
	width: 230px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0 0 3px rgba(black, 0.15);
}

// QB logo
.logo {
	margin-top: 22px;
	margin-bottom: 26px;
	width: 100%;
	text-align: center;
}

.logo-container {
	width: 87%;
	margin: 0 auto;
	border-bottom: 1px solid rgba(black, 0.2);
}

.logo-graphic {
	width: 175px;
}

.logo-subtitle {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 6px;
}