/* ===== MAIN CONTENT AREA ==================================================================== */

.contentArea {
	// adjust if needed
}

.content-container {
	width: 100%;
	padding-left: 267px;
	padding-right: 52px;
	margin-top: 216px;
}

/* ===== top color bar ================================= */

// color bar
.color-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 7px;
	background: darken($blue, 5%);
	z-index: 60;
}

// color bar colors
.butte-highlands .color-bar {
	background: darken($blue, 5%);
	background: linear-gradient(to right, darken($blue, 15%), $blue);
}

.brimstone-mining .color-bar {
	background: darken($green, 5%);
	background: linear-gradient(to right, darken($green, 15%), $green);
}

.owyhee-gold-trust .color-bar {
	background: darken($orange, 5%);
	background: linear-gradient(to right, darken($orange, 15%), $orange);
}


/* ===== TITLE AREA ============================================================================ */

.title-area-container {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 248px;
	padding-right: 275px;
	z-index: 50;
}

// title area
.title-area {
	background: $background;
	width: 100%;
	max-width: 64.7rem;
	height: 188px;  //188
	box-shadow: 0px 7px 6px -5px rgba(black, 0);
	transition: box-shadow 0.2s;
}

.title-area-scrolled {
	box-shadow: 0px 7px 6px -5px rgba(black, 0.3);
}

/* ===== main title ===================================== */

// main title
.title-container {
	width: 100%;
	padding-left: 18px;
	padding-right: 18px;
}

.main-title {
	margin: 0;
	margin-top: -10px;
	padding: 0
}

.uscis-title {
	text-transform: uppercase;
	font-size: 1rem;
	margin: 0;
	margin-top: 30px;
	padding: 0;
}

/* ===== tabs - display btns ================================= */

// spacing for btn on the right
.tabs dd, .tabs .tab-title {
	margin-right: 15px;
}

// round corners on btns
.tabs dd>a, .tabs .tab-title>a {
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: normal;
	border-radius: 10px;
	padding: 4px 32px;
	background-color: #DADADA;
	color: #333;
	border: 1px solid #949494;
}

// foundation overides - active state color
.butte-highlands .tabs dd.active a, .tabs .tab-title.active a {
	background-color: $blue;
	color: #FFF;
	border: 1px solid darken($blue, 8%);
}

.brimstone-mining .tabs dd.active a, .tabs .tab-title.active a {
	background-color: $green;
	color: #FFF;
	border: 1px solid darken($green, 8%);
}

.owyhee-gold-trust .tabs dd.active a, .tabs .tab-title.active a {
	background-color: $orange;
	color: #FFF;
	border: 1px solid darken($orange, 8%);
}































