/* ===== MAIN CONTENT AREA ==================================================================== */

.contentArea {
	// adjust if needed
}

.content-container {
	width: 100%;
	padding-left: 267px;
	padding-right: 52px;
	margin-top: 216px;
}

/* ===== top color bar ================================= */

// color bar
.color-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 7px;
	background: darken($blue, 5%);
	z-index: 60;
}

// color bar colors
.butte-highlands .color-bar {
	background: darken($blue, 5%);
	background: linear-gradient(to right, darken($blue, 15%), $blue);
}

.brimstone-mining .color-bar {
	background: darken($green, 5%);
	background: linear-gradient(to right, darken($green, 15%), $green);
}

.owyhee-gold-trust .color-bar {
	background: darken($orange, 5%);
	background: linear-gradient(to right, darken($orange, 15%), $orange);
}


/* ===== TITLE AREA ============================================================================ */

.title-area-container {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 248px;
	padding-right: 275px;
	z-index: 50;
}

// title area
.title-area {
	position: relative;
	background: $background;
	width: 100%;
	max-width: 64.7rem;
	height: 188px;  //188
	box-shadow: 0px 7px 6px -5px rgba(black, 0);
	transition: box-shadow 0.2s;
}

.title-area-scrolled {
	box-shadow: 0px 7px 6px -5px rgba(black, 0.3);
}

// project logos
.project-logo {
	display: none;
	position: absolute;
	z-index: 70;
}

// project logos - bh
.butte-highlands .project-logo {
	top: 22px;
	right: 46px;
	width: 84px;
}

.butte-highlands .project-logo-bh {
	display: block;
}

// project logos - brm
.brimstone-mining .project-logo {
	top: -9px;
	right: 19px;
	width: 220px;
}

.brimstone-mining .project-logo-brm {
	display: block;
}

// project logos - ogt
.project-logo-image {
	display: none;
}

.owyhee-gold-trust .project-logo-image {
	display: block;
	position: absolute;
	background: url('../images/project-logos/ogt-logo.png') no-repeat top right;
	width: 215px;
	height: 111px;
	background-size: 100%;
	top: 39px;
	right: 25px;
	z-index: 70;
}

.owyhee-gold-trust .project-logo-size {
	//width: 120px;
}


/* ===== main title ===================================== */

// main title
.title-container {
	width: 100%;
	padding-left: 18px;
	padding-right: 18px;
}

.main-title {
	position: relative;
	font-size: 2.5rem;
	margin: 0;
	margin-top: -8px;
	margin-bottom: 21px;
	border-bottom: 1px solid rgba(black, 0.1);
	padding-bottom: 7px;
	width: 50%;

	&:before {
		content: "01.";
		font-size: .75rem;
		position: absolute;
		display: block;
		background: $blue;
		color: #FFF;
		padding: 3px 5px 3px 50px;
		bottom: 20px;
		left: -78px;
	}
}

.butte-highlands .main-title {
	width: 83%; //bh
}

.brimstone-mining .main-title {
	width: 68%; //brm
}

.owyhee-gold-trust .main-title {
	width: 68%; //ogt
}

.butte-highlands .main-title {
	&:before {
		content: "01.";
		background: $blue;
		color: #FFF;
	}
}

.brimstone-mining .main-title {
	&:before {
		content: "02.";
		background: $green;
		color: #FFF;
	}
}

.owyhee-gold-trust .main-title {
	&:before {
		content: "03.";
		background: $orange;
		color: #FFF;
	}
}

.uscis-title {
	text-transform: uppercase;
	font-size: 1rem;
	margin: 0;
	margin-top: 27px;
	margin-left: 2px;
	margin-bottom: 3px;
	padding: 0;
}

/* ===== tabs - display btns ================================= */

.tabs-content>.content {
	padding: 0px;
	width: auto;
}

// spacing for btn on the right
.tabs dd, .tabs .tab-title {
	margin-right: 15px;
}

// round corners on btns
.tabs dd>a, .tabs .tab-title>a {
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: normal;
	border-radius: 10px;
	padding: 4px 32px;
	background-color: #DADADA;
	color: #333;
	border: 1px solid #949494;
}

// foundation overides - active state color
.butte-highlands .tabs dd.active a, .tabs .tab-title.active a {
	background-color: $blue;
	color: #FFF;
	border: 1px solid darken($blue, 8%);
}

.brimstone-mining .tabs dd.active a, .tabs .tab-title.active a {
	background-color: $green;
	color: #FFF;
	border: 1px solid darken($green, 8%);
}

.owyhee-gold-trust .tabs dd.active a, .tabs .tab-title.active a {
	background-color: $orange;
	color: #FFF;
	border: 1px solid darken($orange, 8%);
}

.info-tab p {
	margin: 0 0 10px 0;
}













